<h1>New Client</h1>
 
<div><%= link_to "Back", admin_clients_url %></div>

<%= form_for [:admin, @client], :html => { :multipart => true } do |f| %>
  <table class="data">
    <tr>
      <th style="width: 200px;">Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th style="width: 200px;">Username</th>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <th style="width: 200px;">Password</th>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <th style="width: 200px;">Active</th>
      <td><%= f.check_box :active %></td>
    </tr>
  </table>
  <div style="margin-top: 10px;">
    <%= f.submit 'Save' %>
  </div>    
<% end %>