<%= error_messages_for 'client' %>

<%= form_tag :action => 'change_password' %>

<h3 class="header">Change Password</h3>
<div class="section">
	<table>
		<tr>
			<td><%= label_tag 'Choose Password' %></td> 
			<td>
				<%= text_field_tag :password, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Confirm Password' %></td> 
			<td>
				<%= text_field_tag :password_confirmation, "" %>
			</td>
		</tr>
	</table>
</div>

<div style="margin: 10px 0 0;">
	<%= content_tag :button, 'Change Password', :type => :submit, :class => :submit_button %>
	or <%= link_to "cancel", client_account_url %>
</div>