<%= error_messages_for 'client' %>

<h3>Change Password</h3>

<%= form_tag :action => 'change_password' %>

<label for="client_password">Choose password:</label><br/>
<%= password_field "client", "password", :value=>"" %><br/>

<label for="client_password_confirmation">Confirm password:</label><br/>
<%= password_field "client", "password_confirmation", :value=>"" %><br/>

<%= submit_tag "Submit" %>
