<%= form_tag :action => 'forgot_password' %>

<h3 class="header">Forgotten Password</h3>
<div class="section">
	<table>
		<tr>
			<td><%= label_tag 'Username' %></td> 
			<td>
				<%= text_field_tag :username, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Email' %></td> 
			<td>
				<%= text_field_tag :email, "" %>
			</td>
		</tr>
	</table>
</div>

<div style="margin: 10px 0 0;">
	<%= content_tag :button, 'Send Password', :type => :submit, :class => :submit_button %>
	or <%= link_to "cancel", client_login_url %>
</div>
