<%= form_tag :action=>'reactivate'%>

<div class="note">Your account has not been activated. Please check your email, including the junk mail folder, 
	or resend your activation email below. </div>

<h3 class="header">Resend Activation Code</h3>
<div class="section">
	<table>
		<tr>
			<td><%= label_tag 'Username' %></td> 
			<td>
				<%= text_field_tag :username, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Email' %></td> 
			<td>
				<%= text_field_tag :email, "" %>
			</td>
		</tr>
	</table>
</div>

<div style="margin: 10px 0 0;">
	<%= content_tag :button, 'Send Activation Code', :type => :submit, :class => :submit_button %>
	or <%= link_to "cancel", client_login_url %>
</div>