<%= form_tag :action=> "signup" %>

<%= error_messages_for 'client' %><br/>

<h3 class="header">Signup</h3>
<div class="section">
	<table>
		<tr>
			<td><%= label_tag 'Company Name', 'Company Name' %></td> 
			<td>
				<%= text_field_tag :name, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Username' %></td> 
			<td>
				<%= text_field_tag :username, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Password' %></td> 
			<td>
				<%= password_field_tag :password, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Password Confirmation', 'Password Confirmation' %></td> 
			<td>
				<%= password_field_tag :password_confirmation, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Email' %></td> 
			<td>
				<%= text_field_tag :email, "" %>
			</td>
		</tr>
		<tr>
			<td><%= label_tag 'Time Zone' %></td> 
			<td>
				<%= select_tag :time_zone, time_zone_options_for_select("Pacific Time (US & Canada)") %>
			</td>
		</tr>
	</table>
</div>

<div id="recaptcha_container">
	<%= raw recaptcha_tags :public_key => OPTIONS[:recaptcha_public_key], 
		:display => { :theme => "clean" } %>
</div>

<div style="margin: 10px 0 0;">
	<%= content_tag :button, 'Signup', :type => :submit, :class => :submit_button %>
	or <%= link_to "cancel", client_login_url %>
</div>