<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Badgnet</title>
	  	<%= raw stylesheet_link_tag 'screen', :media => "screen" %>
	  	<%= raw stylesheet_link_tag 'print', :media => "print" %>	
	  	<%= raw stylesheet_link_tag 'global' %>	
	
		<%= javascript_include_tag "rails" %>
		<%= javascript_include_tag "global" %>	
		<%= yield(:head) %>
	</head>

	<body id="<%= controller.controller_name %>_<%= controller.action_name %>">
		<div id="container">
			<div id="body">
				<div id="header">
					<div id="nav">
						<%= link_to "Admin Home", admin_home_url %> | <%= link_to "Badgnet Home", root_url %>
					</div>
				</div>
				<div id="content"><%= yield %></div>
			</div>
		</div>		
	</body>
</html>