<!DOCTYPE html>
<html>
	<head>
	<meta name="google-site-verification" content="jUclv9E0TVa8B_krzf-8_EkEmcWsit1FZwaQSaK4_-I" />
	  <title>Badgnet</title>
	  <%= raw stylesheet_link_tag 'screen', :media => "screen" %>
	  <%= raw stylesheet_link_tag 'print', :media => "print" %>	
	  <%= raw stylesheet_link_tag 'global' %>
	  <%= raw stylesheet_link_tag 'application' %>	
	  <%= csrf_meta_tag %>
	</head>
	<body id="<%= controller.controller_name %>_<%= controller.action_name %>">
		<h1>BadgNet</h1>

		<ul>
			<li><%= link_to "Client Login", client_login_url %></li>

		</ul>
		<%= yield(:body_scripts) %>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			FB.init({appId: <%= OPTIONS[:facebook_app_id] %>, status: true, cookie: true, xfbml: true});
		</script>

		<%= raw javascript_include_tag "mootools-core-1.3-full-compat" %>
		<%= raw javascript_include_tag "mootools-more-1.3-full-compat" %>
		<%= raw javascript_include_tag "rails" %>
		<%= raw javascript_include_tag "global" %>
		<%= raw javascript_include_tag "modal" %>
		<%= raw javascript_include_tag "overlay" %>
		<%= raw javascript_include_tag "ejs" %>
		<%= raw javascript_include_tag "view" %>
		<% if @current_user %>
		<script type="text/javascript">
			/* Useful info when doing javascript queries */
			var fb_id = <%= @current_user.get_facebook_id %>;
			var group = <%= @current_user.is_group? %>;
		</script>
		<% end %>
	</body>
</html>	